body {
  background: violet;
}

#pointTally {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

#board {
 /*linear-gradient(to bottom, #FC746A, rgba(0,0,0,0));*/
  background: linear-gradient(180deg,#fff4f4,#FC746A,orange,violet);
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 600px;
}

.food {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    transform: rotate(45deg);
}

.food:before,
.food:after {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
}

.food:before {
  left: -8px;
  bottom: 0;
  content:''
}

.food:after {
  right: 0;
  top: -8px;
  content: ':)'
}

#snake {
    position: absolute;
    width: 60px;
    height: 15px;
    bottom: 40px;
    background-color: green;
}

#start {
  color: #91A8D0;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 5rem;
}
